*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-image: url(backgroundJuliette.png);
    line-height: 2em;
    
}

header {
    background-color: white;
}

li{
    display: inline;
}

p{
    text-indent: 30px;
}
.entirepage {
    margin:auto;
    background-color: white;
    width: 1500px;
}

.maincontent{
    margin: 10px;
    text-align: justify;
    margin:20px;
}


img.portrait{
    float:left;
    width:500px;
    margin: 10px;
}

img.bus{
    float:right;
    width:300px;
    margin-left:10px;
    margin-top:35px;
    padding:10px;
}



