/*designing the body*/
body {

}
/*designing navigation bar*/
.navbar{
    background-color: #cccccc;
    list-style-type: none;
    margin: 0px;
    padding: 35px;
}
.navbar li {
    display: inline;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: medium;
  }
a {
    text-decoration: none;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #b8b8b8;
    text-decoration: none;
    color:black;
  }
  

/*mainblock design*/
.mainblock{
    background-image: url("images\marcelogarciabackground.jpg");
    background-size: cover;
}

/*shortbioblock design*/
.shortbioblock{
    background-color: #e5e4e2;
    display:block;
    padding:10px;
    margin:20px;
}
h1{
    padding:10px;
}
.imagebio{
    width:500px;
    padding:10px;
    float:left;
}
.shortbioblock li{
    font-weight: bold;
    font-size: medium;
    text-align: center;
    list-style-type: none;

}